$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;

$white: #FFF;
$black: #000;
$green: #4FAC68;
$purple: #5561B3;
$blue: #161F5E;
$gray: #6D7587;
$tableContent: #3A416F;
$bg: #F4F5FC;
