@import '../../style/mixins';
@import '../../style/vars';


#profileSectionCountrySelector, #profileSectionBioInfo {
    @include flex(flex-start, flex-start, column);
    gap: 10px;
    margin: 25px 0;

    font-family: $poppins;
    color: $gray;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;

    select, textarea {
        @include input();

        &:focus {
            border: 1px solid rgb(37, 105, 207);
        }
    }

    textarea {
        font-family: $poppins;
        color: $black;
        height: 120px;
    }

    .validInput {
        border: 1px solid #4FAC68;
    }
    
    .invalidInput {
        border: 1px solid #DF4149;
    }
}