@import '../../style/mixins';
@import '../../style/vars';

.paginationSection {
  @include flex(center, space-between);

  & > span {
    font-family: $poppins;
  }
}

.pagination-container {
    display: flex;
    list-style-type: none;
  
    .pagination-item {
      font-family: $poppins;
      padding: 10px 15px;
      text-align: center;
      margin: auto 4px;
      color: $blue;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      letter-spacing: 0.01071em;
      border-radius: 5px;
      line-height: 1.43;
      font-size: 13px;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
  
      &.selected {
        background-color: $purple;
        color: $white;
      }
  
      .arrow {
        &::before {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: '';
          /* By using an em scale, the arrows will size with the font */
          display: inline-block;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.12em solid $purple;
          border-top: 0.12em solid $purple;
        }
  
        &.left {
          transform: rotate(-135deg) translate(-50%);
        }
  
        &.right {
          transform: rotate(45deg);
        }
      }
  
      &.disabled {
        pointer-events: none;
  
        .arrow::before {
          border-right: 0.12em solid rgba(0, 0, 0, 0.2);
          border-top: 0.12em solid rgba(0, 0, 0, 0.2);
        }
  
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }